<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Site name</title>
</head>
<body>
	<h1 class="header">Name of site</h1>
	<p><b class="info">Site informative note. &#128513 </b><br>{% lorem %}</p>
	<div id="urls">
		<b><a href="{% url 'usersignup:login_page' %}">Login</a></b>
		<br>OR<br>
		<b><a href="{% url 'usersignup:create_profile' %}">Create new account</a></b>
	</div>
	<!-- I need to modify the css and add some coloring, images and the rest,
	because its looking preety dull. i wrote this 3-4-21 @ 16:58 -->
</body>
</html>
